.login-container {
    display: flex;
    justify-content: space-between;
    height: 600px;
    padding-bottom: 100px;
}
.login-container img{
    width: 650px;
    border-radius: 5px;
}

.login-container h1{
    text-align: center;
    width: 750px;
}